.trans {
  h1 {
    font-size: 30px;
  }
  table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    td,
    th {
      border: 2px solid #00000018;
    }
    thead {
      background-color: #32a4c1;
      color: white;
      th {
        padding: 5px 10px;
      }
    }
    thead {
      padding: 10px 0;
    }

    tbody {
      tr {
        td:first-child {
          text-align: center;
        }
        td {
          padding: 10px 5px;
          span {
            color: green;
            padding: 5px;
            border-radius: 8px;
          }
          .booked {
            background-color: #f69685;
          }
          .checkin {
            background-color: #39d139;
          }
          .checkout {
            background-color: #d3d0f2;
          }
        }
      }

      tr:nth-of-type(odd) {
        * {
          background-color: #0000001c;
        }
      }
    }
  }
}
