.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 2.25rem;
    font-weight: bolder;
    cursor: pointer;
  }
  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar {
    a {
      background-color: white;
      border-radius: 20px;
      color: #3b82f6;
      padding: 0.75rem;
      font-weight: bolder;
    }
  }
}

.footer {
  margin: 40px 0;

  a {
    padding: 15px 10px;
    margin-right: 20px;
    color: white;
    span {
      padding-left: 10px;
    }
  }
  .active {
    border-radius: 30px;
    border: 1px solid white;
  }
}
